*{
    margin: 0;
    padding: 0;
    /* border: red 1px solid; */
}

body{
    background-color: rgb(32, 32, 32);
    color: rgb(223, 223, 223);
}

.container {
    margin: auto;
    max-width: 80vw;
}

.container h1 {    
    text-align: center;
}

.single_wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.single_wrapper .content{
    height: 80vh;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.links.genre{
    margin: 20px;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    width: 30vw;
    height: 70vh;
    margin: 20px;
    padding: 20px;
    background-color: rgb(121, 121, 121);
    border-radius: 30px;
    transition: 0.5s all;
}

.content:hover{
    box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 20px;
}

.content.genre{
    height: 8vh;
}

.content h1{
    margin: 20px;
}

.content img{
    margin-bottom: 30px;
    border-radius: 10px;
}

.content .data{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.content h2{
    text-decoration: underline;
    margin: 15px;
}

.content p{
    text-align: justify;
    margin-bottom: 60px;
}

.content .genres{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .genres .genre{
    padding-left: 10px;
}

.content a{
    position: absolute;
    bottom: 20px;
    padding: 12px;
    border-radius: 600px;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.content a:hover{
    background-color: white;
    color: black;
}

.paginator{
    display:flex;
    justify-content: center;
}